%h2 Sign up
= form_for @user, validate: true do |f|
  = render "devise/shared/error_messages", resource: resource
  .field
    = f.label :name
    %br/
    = f.text_field :name, autofocus: true, class: "form-control"
  .field
    = f.label :address
    %br/
    = f.text_field :address, autofocus: true, class: "form-control"
  .field
    = f.label :password
    %br/
    = f.text_field :password, autofocus: true, class: "form-control"
  .field
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email"
  .field
    = f.label :password
    - if @minimum_password_length
      %em
        (#{@minimum_password_length} characters minimum)
    %br/
    = f.password_field :password, autocomplete: "password"
  .field
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation, autocomplete: "new-password"
  .actions
    = f.submit "Sign up"
= render "devise/shared/links"
