%div{:id => "#{dom_id user}"}
  %p
    %strong Name:
    = user.name
  %p
    %strong Password:
    = user.password
  %p
    %strong Address:
    = user.address
  %p
    %strong Email:
    = user.email
