= form_for @dish, validate: true do |f|
  .form-group.ml-4.mr-4
    = f.label :name, class: "form-label required"
    = f.text_field :name, autofocus: true, class: "form-control"
  .form-group.ml-4.mr-4
    = f.label :description, class: "form-label required"
    = f.text_area :description, autofocus: true, class: "form-control"
  .form-group.ml-4.mr-4
    = f.label :price, class: "form-label required"
    = f.text_field :price, autofocus: true, class: "form-control"
  .form-group.ml-4.mr-4
    = f.label :photo, class: "form-label required"
    = f.file_field :photo, autofocus: true, class: "form-control"

  .row
    .offset-3.col-3
      = link_to "Atrás", dishes_path, class: "btn btn-secondary btn-block"
    .col-3
      = button_tag "Guardar" , class: "btn btn-outline-success btn-block", 'data-disable-with': "Guardando"
